<!DOCTYPE html>
<html>
<head>
  <title>Users</title>
</head>
<body>
    <div class="transactions">
          <h1>Recent Transactions</h1>
  


  <% if (users.length === 0) { %>
    <p>No users found.</p>
  <% } else { %>
    <table border="1">
      <thead>
        <tr>
          <th>Title</th>
          <th>Amount</th>
          <th>Type</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(user => { %>
          <tr>
            <td><%= user.title %></td>
            <td><%= user.amount %></td>
            <td><%= user.type %></td>
            <td>
            <% if (user.createdAt) { %>
              <%= new Date(user.createdAt).toLocaleDateString("ru-RU") %>
            <% } else { %>
              Нет даты
            <% } %>
            </td>

             <td>
          <form action="/edit/<%= user.id %>"  style="display:inline;">
            <button type="submit">Edit</button>
          </form>
          <form action="/form" method="post" style="display: inline-block;" onsubmit="return confirm('Are you sure?');">
            <button type="submit">Delete</button>
          </form>
        </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } %>
    </div>

</body>
</html>
