<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="transactions">
    <h1>Recent Transactions</h1>

    <table border="1">
      <thead>
        <tr>
          <th>Title</th>
          <th>Amount</th>
          <th>Type</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% transactions.forEach(tx => { %>
          <tr>
            <td><%= tx.title %></td>
            <td><%= tx.amount %></td>
            <td><%= tx.type %></td>
            <td>
              <% if (tx.createdAt) { %>
                <%= tx.createdAt.toLocaleDateString() %>
              <% } else { %>
                Нет даты
              <% } %>
            </td>
            <td>
              <form action="/edit/<%= tx.id %>" method="get" style="display:inline;">
                <button type="submit">Edit</button>
              </form>

              <form action="/remove/<%= tx.id %>" method="get" style="display: inline-block;" onsubmit="return confirm('Are you sure?');">
                <button type="submit">Delete</button>
              </form>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>
</html>
