<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
   <div class="transactions">
          <h1>Recent Transactions</h1>
  


<% if (transactions.length === 0) { %>
  <p>No transactions found.</p>
<% } else { %>
  <table border="1">
    <thead>
      <tr>
        <th>Title</th>
        <th>Amount</th>
        <th>Type</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% transactions.forEach(transactions => { %>
        <tr>
          <td><%= transactions.title %></td>
          <td><%= transactions.amount %></td>
          <td><%= transactions.type %></td>
          <td>
            <% if (transactions.createdAt) { %>
              <%= transactions.createdAt.toLocaleDateString() %>
            <% } else { %>
              Нет даты
            <% } %>
          </td>
          <td>
            <form action="/edit/<%= transactions.id %>" style="display:inline;">
              <button type="submit">Edit</button>
            </form>
            <form action="/form" method="post" style="display: inline-block;" onsubmit="return confirm('Are you sure?');">
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } %>

</body>
</html>
