<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Edit Transaction</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <div class="trans__container">
    <div class="transactions__headline">
        <a href="/balance/"><img src="/icons/Vector.svg" alt=""></a>
      <h1>Edit Transaction</h1>
    </div>

    <form class="details" action="/balance/edit/<%= transaction.id %>" method="post">
      <div class="details__headline">
        <h4>Transaction Details</h4>
      </div>

      <div class="title">
        <h5>Title</h5>
        <textarea
          name="title"
          required
          placeholder="Enter Transaction title"><%= transaction.title %></textarea>
      </div>

      <div class="amount">
        <h5>Amount</h5>
        <textarea
          name="amount"
          required
          placeholder="0.00"><%= transaction.amount %></textarea>
      </div>

      <div class="type">
        <h5>Transaction Type</h5>
        <div class="toggle-container">
          <span id="label-expense" class="label <%= transaction.type === 'expense' ? 'active' : '' %>">Expense</span>
          <label class="switch">
            <input
              type="checkbox"
              name="type"
              id="transactionType"
              <%= transaction.type === 'income' ? 'checked' : '' %>
            />
            <span class="slider round"></span>
          </label>
          <span id="label-income" class="label <%= transaction.type === 'income' ? 'active' : '' %>">Income</span>
        </div>
      </div>

      <!-- Скрытая дата, если не нужна -->
      <input type="hidden" name="date" value="<%= transaction.createdAt.toISOString().split('T')[0] %>" />

      <div class="buttons">
        <button type="submit" class="submit__btn">Save Changes</button>
        <button type="reset" class="cancel__btn">Cancel</button>
      </div>
    </form>
  </div>

  <script src="/js/button.js"></script>
</body>
</html>
