<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
  <meta charset="UTF-8">
  <title>Welcome</title>
</head>
<body>
  <h1 class="tr">welcome_page</h1>

  <a href="/<%= lang %>/register">
    <button class="tr"  type="button">get_started</button>
  </a>
  <a href="/<%= lang %>/login">
    <button class="tr" type="button">login_page</button>
  </a>
  <a href="/<%= lang %>/register">
    <button class="tr" type="submit">register_page</button>
  </a>
  <form action="/logout" method="get" onsubmit="return confirm('Are you sure?');"> 
      <button type="submit" class="tr">logout_page</button>
  </form>
  <a href="/ru">Русский</a>

  <a href="/en">English</a>

 <script>
        fetch(`/languages/<%=lang%>.json`)
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                translate(data)
            })
            .catch(function (err) {
                console.log('error: ' + err);
            });

        function translate(data) {
            let elements = document.querySelectorAll(".tr")

            for (const element of elements) {
                if (data[element.innerText]) {
                    element.innerText = data[element.innerText];
                }
            }
        }
    </script>
</body>
</html>
